@import '_variables';
@import '_mixins';
@import '_reset';
/********************* MEDIAN QUERIES ****************/

//tablet view
@media only screen and (max-width: 1068px) {
	// @media (min-width: 1025px) and (max-width: 1280px) {
		nav {
			@include flexbox(row, wrap, normal, flex-end, normal);
		}
	
		.filtered-results {
			grid-template-columns: 33% 33% 33%;
		}
	}
	
	//Tablet landscape view
	// @media only screen and (max-width: 734px)
	@media (min-width: 1024px) and (max-width: 768px) {
		header {
			@include flexbox(column, wrap, normal, normal, stretch);
		}
	
		h1 {
			text-align: center;
			margin: 2% 0%;
		}
	
		nav {
			margin: 2% 0%;
		}
	
		.menu {
			margin: none;
		}
	
		.filtered-results {
			grid-template-columns: 50% 50%;
		}
	}
	
	//Tablet portrait view
	@media (min-width: 768px) and (max-width: 1024px) {
		// header {
		// 	@include flexbox(column, wrap, normal, normal, stretch);
		// }
	
		h1 {
			margin: 2% 0%;
		}
	
		nav {
			margin: 2% 0%;
		}
	
		.menu {
			margin: 0;
		}
	
		.filtered-results {
			grid-template-columns: 50% 50%;
		}
	}
	
	//small mobile device view
	@media (min-width: 320px) and (max-width: 767px) {
		header {
			@include flexbox(column, wrap, normal, normal, stretch);
		}
	
		h1 {
			margin: 2% 0%;
		}
	
		nav {
			@include flexbox(row, nowrap, normal, space-around, center);
			margin: 2%;
		}

    .logo {
      width: 90%;
    }

    .hero-logo {
      width: 90%;
    }
	
		.menu {
			padding: 1%;
			margin: 0;
			max-height: 2em;
		}
	
		// .book-now {
		// 	display: none;
		// }
	
		.search-wrapper {
			@include flexbox(column, nowrap, normal, center, center);
		}
	
		.filtered-results {
			grid-template-columns: 100%;
		}
	}
