$softTeal: #9BB5BF;
$offWhite: #F2F2F2;
$almostBlack: #020202;

$green: #127369;
$darkTeal: #10403B;
$paleGreen: #8AA6A3;
$darkGray: #4C5958;
$gray: #BFBFBF;
$transparentTeal: rgba(16, 64, 59, 0.9);
$gold: #BC9C22;

$titleFont: 'Belleza', sans-serif;
$headerFont: 'Marcellus', serif;
$bodyFont: 'Montserrat', sans-serif;
$boxShadow: 1px 1px 7px black;