$soft-teal: #9BB5BF;
$peach: #D9B18F;
$dark-tan: #736253;
$muave: #59463F;
$offWhite: #F2F2F2;

$pale-blue: #B8BFBE;
$gray-brown: #595047;
$gray-tan: #8C7E72;
$red-brown: #40261C;

$beige: #D9BD9C;
$brown: #402B19;
$tan: #8C6746;
$sand: #BF9169;

$bodyFont: 'Montserrat', sans-serif;
$headerFont: 'Sacramento', cursive;
$boxShadow: 1px 1px 7px black;