@import '_variables';
@import '_mixins';
@import '_reset';
@import '_media';

* {
	font-family: $bodyFont;
	color: $darkTeal;
}

html {
  scroll-behavior: smooth;
}

p {
	line-height: 1.5em;
}

body {
  height: 100vh;
  line-height: 1.2;
}

header {
  padding: 1% 2%;
	background-color: $transparentTeal;
	grid-template-columns: 2fr 3fr;
	grid-gap: 1em;
	@include flexgrid(normal, normal, normal, stretch);
}

.logo {
  width: 70%;
}

nav {
  @include flexbox(row, wrap, normal, flex-end, normal);
}

.hero {
  background-image: url('../images/hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  // padding: 5% 0 0 0;
  // width: 100vw;
}

.hero-logo {
  background-color: rgba(248, 248, 248, .60);
  width: 40%;
}

.user-greeting,
.login {
  background-color: rgba(248, 248, 248, .60);
	padding: 5%;
}

.hero-button {
  cursor: pointer;
  padding: 2% 5%;
  background-color: $transparentTeal;
  font-family: $titleFont;
  font-size: 2em;
  border: none;
  box-shadow: $boxShadow;

  &:hover {
		transform: scale(1.2);
	}
}

.search-wrapper {
  margin: 2%;
  @include flexbox(row, nowrap, normal, center, center);
}

h1 {
	font-family: $headerFont;
	font-size: 2em;
	color: $offWhite;
}

h2 {
	font-family: $titleFont;
	font-size: 2em;
	padding: 5%;
  font-weight: 400;
  letter-spacing: 1px;
	text-shadow: 0px 1px 5px black;
}

h3 {
	font-family: $titleFont;
	font-size: 1.5em;
	text-align: center;
	font-weight: 400;
  letter-spacing: 1px;
	color: $offWhite;
	text-shadow: 3px 3px 8px black;
}

h4 {
	font-size: 1.5em;
	text-align: center;
	margin: 1%;
}

main {
	height: 100%;
  background-color: $softTeal;
}

a {
	text-decoration: none;
}

.hero-message {
	@include flexbox(column, wrap, center, normal, center);
	padding: 5% 5% 2% 5%;
}

.message {
	text-align: center;
	padding: 5% 5% 0;
}

.checked-icon {
	margin: 2%;
}

.user-message {
	text-align: center;
	// padding: 2%;
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.filtered-results {
	gap: 2em;
  grid-template-columns: 25% 25% 25% 25%;
	padding: 5% 10%;
	@include flexgrid(normal, center, normal, normal);
}

.thumbnail-image {
	width: 100%;
	position: relative;
}

.room-image {
	width: 100%;
	position: relative;
}

.room-card {
	border: none;
	font-size: 1.2em;
  background-color: $darkTeal;
  box-shadow: $boxShadow;
  padding: 5%;
}

.card-text,
.login-text {
	color: $offWhite;
	margin: 1%;
}

.select-room {
	padding: 1em;
	border: none;
	margin: 5%;
}

.room-image {
	width: 100%;
}

.room-details {
	padding: 1em;
	display: flex;
	flex-direction: column;
}

.book-this-room {
	display: flex;
	margin: 5%;
}
.room-selection {
	width: 50%;
}

.selected-room-image {
	width: 100%;
	box-shadow: $boxShadow;
}

.room-details {
	padding: 5%;
}

ol, li {
	list-style: none;
	margin: 1%;
}

hr {
	border-top: 1px solid $offWhite;
  margin: 1.5em 0;
  width: 100%;
}

.menu {
	cursor: pointer;
	@include flexbox(row, nowrap, normal, normal, center);
	background-color: transparent;
	color: $offWhite;
  border: none;
  font-family: $titleFont;
  font-size: .75em;
  letter-spacing: 1px;
	white-space: nowrap;
	padding: 0 2%;

	&:hover {
		transform: scale(1.1);
	}
}

.book-now,
.select-room {
  cursor: pointer;
  background-color: $gold;
	color: $almostBlack;
  border: none;
	margin: 2%;
	font-weight: 500;
	letter-spacing: 1px;
	font-family: $titleFont;

  &:hover {
		background-color: $paleGreen;
    color: $offWhite;
	}
}

.icon,
.filter-icon {
	padding: 5%;

	&:hover {
		transform: scale(1.2);
	}
}

.select-room {
	font-size: 1em;
	margin: 5%;
}

.checked-icon {
	margin: 2%;
}

.search-title {
	text-align: left;
  margin: 2%;
	// color: $almost-black;
	font-size: 1.2em;
	text-shadow: 1px 1px 18px black;
}

input,
select {
	// margin: 1%;
	// width: 98%;
	padding: .5em;
	// border-radius: 3px;
	border: none;
	// font-size: 1em;
	color: #020202;
}

.example-text {
	font-size: 0.75em;
	color: $offWhite;
	text-align: left;
	margin-bottom: 2%;
	padding: 0;
}

// .dropdown {
//   position: relative;
//   display: inline-block;
// }

// .dropdown-content {
//   display: none;
//   position: absolute;
//   background-color: #f9f9f9;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//   padding: 12px 16px;
//   z-index: 1;
// }

// .dropdown:hover .dropdown-content {
//   display: block;
// }

.search-form {
	margin-top: 10%;
	padding: 2% 0;
	text-align: center;
	background-color: $transparentTeal;
}

.login {
	@include flexbox(column, wrap, normal, normal, normal);
	padding: 10%;
}

.link-to-rooms {
	color: transparent;
}

.search-button,
.clear-button, 
.book-button,
.return-button,
.login-button {
  background-color: $green;
  color: $offWhite;
	border: none;
	letter-spacing: 1px;
  margin: 1.4em 1% 0%;
  max-height: 2.5em;
  min-height: 2.5em;
  min-width: 6em;

	&:hover {
		cursor: pointer;
		background-color: $gold;
	}

  // &:disabled {
	// 	cursor: no-drop;
	// 	background-color: gray;
	// }
}

.clear-button {
  background-color: $green;

	&:hover {
		background-color: $paleGreen;
		transform: scale(1.1);
	}
}

.filtered-results {
	display: grid;
	padding: 1em;
	grid-template-columns: 33% 33% 33%;
	// grid-template-columns: repeat(3, 1fr);
	gap: 2em;
	margin: 5%;
}

.hidden {
	display: none;
}

.show {
	display: block;
}

/********************* MEDIAN QUERIES ****************/

//tablet view
@media only screen and (max-width: 1068px) {
	// @media (min-width: 1025px) and (max-width: 1280px) {
		nav {
			@include flexbox(row, wrap, normal, flex-end, normal);
		}
	
		.filtered-results {
			grid-template-columns: 33% 33% 33%;
		}
	}
	
	//Tablet landscape view
	// @media only screen and (max-width: 734px)
	@media (min-width: 1024px) and (max-width: 768px) {
		header {
			@include flexbox(column, wrap, normal, normal, stretch);
		}
	
		h1 {
			text-align: center;
			margin: 2% 0%;
		}
	
		nav {
			margin: 2% 0%;
		}
	
		.menu {
			margin: none;
		}
	
		.filtered-results {
			grid-template-columns: 50% 50%;
		}
	}
	
	//Tablet portrait view
	@media (min-width: 768px) and (max-width: 1024px) {
		// header {
		// 	@include flexbox(column, wrap, normal, normal, stretch);
		// }
	
		h1 {
			margin: 2% 0%;
		}
	
		nav {
			margin: 2% 0%;
		}
	
		.menu {
			margin: 0;
		}
	
		.filtered-results {
			grid-template-columns: 50% 50%;
		}
	}
	
	//small mobile device view
	@media (min-width: 320px) and (max-width: 767px) {
		header {
			@include flexbox(column, wrap, normal, normal, stretch);
		}
	
		h1 {
			margin: 2% 0%;
		}
	
		nav {
			@include flexbox(row, nowrap, normal, space-around, center);
			margin: 2%;
		}

    .logo {
      width: 90%;
    }

    .hero-logo {
      width: 90%;
    }
	
		.menu {
			padding: 1%;
			margin: 0;
			max-height: 2em;
		}
	
		// .book-now {
		// 	display: none;
		// }
	
		.search-wrapper {
			@include flexbox(column, nowrap, normal, center, center);
		}
	
		.filtered-results {
			grid-template-columns: 100%;
		}
	}

	/****************** KEYFRAMES *****************/

@keyframes fadeInAnimation {
	0% {
			opacity: 0;
	}
	100% {
			opacity: 1;
		}
}